.botao{
    background-color:#6278F7;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    margin: 32px 0;
    cursor: pointer;
}

.botao:hover{
    color: #95ffd4;
}